image: node:18

stages:
  - test
  - report

install-deps:
  stage: test
  script:
    - npm ci
    - npx playwright install-deps
    - ENV=dev npx playwright test
  artifacts:
    when: always
    paths:
      - reports/html-report
      - allure-results
    expire_in: 1 week

generate-allure:
  stage: report
  script:
    - npx allure generate allure-results --clean -o allure-report
  artifacts:
    paths:
      - allure-report
    expire_in: 1 week
